/Formetris-Client-Server/vendor/
/Formetris-Integration-Testing/vendor/
/Formetris-OAuth2-Server/vendor/
/Formetris-Resources-Server/vendor/

/Formetris-Resources-Server/app/settings.php
/Formetris-OAuth2-Server/public/settings.php